.search {
  -webkit-appearance: none;
  /* border-width: 1px;
  border-color: black; */

  padding: 10px;
  width: 350px;
  height: 10px;
  line-height: 30px;
  margin-bottom: 30px;

  border: none;
  outline: none;
}
